*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    .menu {
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    }
  .container{

max-width: 1200px;
margin: 0 auto;

  }
  body{
    background-color: #e4e4e4;
  }
  .menu-flex {
    display: flex;
    align-items: center;
  }
  
  .menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
  }
  
  .menu-column.menu-second-column {
    justify-content: flex-end;
  }
  .menu-nav{
    margin-left: 30px;
  }

  .logo{
    font-size:2em;
  }
  
  .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  
  .menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
    
  }
  
  .menu-link-button {
    text-decoration: none;
    height: 3vh;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }

  .products-wrapper{
    
margin-top: 20px;
}

.products-wrapper .cards{
  
display: flex;


flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;

}


.cards li{
  list-style: none;
 border: 1px solid #fff;
 background-color: #ffffff;
 
  width: 24%;
  margin-bottom: 10px;

 
  
}
.cards .imagem-card{
 width: 240px;
 text-align: center;
  height: 240px;
  margin-top: 10px;
  padding-left: 3vh;

}

.cards .box-imagem{
  width: 240px;
  text-align: center;
  height: 240px;
  margin-top: 10px;
}


  
  .products-wrapper h3{
  font-size: 15px;
  font-style: italic;
  padding-left: 15px;
  margin-bottom: 8px;
  font-weight: 300;
  
  }
  .products-wrapper p{
  
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
    padding-bottom: 4px;
  }
  .products-wrapper button{
    cursor: pointer;
    border: 1px solid #6BF2E5;
    color: #fff;
    background-color: #6BF2E5;
    border-radius: 3px;
    width: 80%;
    height: 3vh;
    margin-left: 3vh;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .body-card button:hover{
   background-color: aqua;
   transition: 0.3;
  }
    






